name: Deploy Redis

on:
    workflow_dispatch:

env:
    PROJECT_ID: tivit-caso01
    REGION: us-central1
    SERVICE: ia-redis

jobs:
    deploy:
        name: Deploy Redis
        runs-on: ubuntu-latest
        permissions:
            contents: "read"
            id-token: "write"

        steps:
            - name: Google Auth
              uses: "google-github-actions/auth@v2"
              with:
                  credentials_json: "${{ secrets.GCP_SA_KEY }}"

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v2
              with:
                  service: ${{ env.SERVICE }}
                  region: ${{ env.REGION }}
                  image: redis:7-alpine
                  # Redis default port is 6379, standard Cloud Run expects 8080, so we override the container port env var to tell cloud run where to check
                  # But better: Just tell Cloud Run the container listens on 6379
                  flags: "--port=6379"
